.chapterCover {
    background-color: #0f0f0f;
}

.imageCover {
    width: 150px;
    position: relative;
}

.bottomImage {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 140px;
    height: 200px;
    transition: transform 0.5s ease;
}

.topImage {
    position: absolute;
    top: 0;
    z-index: 2;
    width: 140px;
    height: 200px;
}

.imageCover:hover .bottomImage {
    height: 200px;
    width: auto;
    transform: translateX(140px);
}

.bg {
    background-color: #222222;
}

.bg:hover {
    background-color: #606060;
}
