.chapter {
    /* box-sizing: border-box;
    display: flex;
    width: 100%;
    margin: auto;
    margin-bottom: 15px;
    height: 150px;
    background-color: rgba(212, 197, 173, 0.4);
    border: rgba(245, 243, 194, 0.5) solid 1px; */
    height: 230px;
    background-color: #0f0f0f;
}

.imageCover {
    width: 150px;
}

.bg {
    background-color: #222222;
}

.bg:hover {
    background-color: #606060;
}

/* .chImage {
    width: 120px;
    height: 150px; */
/* margin-top: 15px;
    margin-left: 15px;
    background-color: white;
} */

/* .image {
    max-width: 100%;
} */

/* .ch_description {
    width: 100%;
}

.ch_name {
    margin: 0;
    background-color: rgba(119, 0, 160, 0.37);
}

.ch_auth {
    margin: 0;
    background-color: white;
}
.ch_series {
    margin: 0;
}
.ch_category {
    margin: 0;
}
.ch_tags {
    margin: 0;
} */
