.catalogContainer {
    /* width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(212, 197, 173, 0.4); */
    /* background-color: #0f0f0f; */
}
