.collapsWrapper {
    background-color: #0f0f0f;
}

.content {
    max-height: 83px;
    display: block;
    overflow: hidden;
    /* transition: max-height 2s; */
}

.collapsContent {
    max-height: auto;
    display: block;
    overflow: hidden;
    /* transition: max-height 2s; */
}
