.bg {
    background-color: #0f0f0f;
}

.searchWrapper {
    position: relative;
    width: 250px;
}

.searchInp {
    width: 100%;
}

.searchSuggestions {
    display: none;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 1;
    margin: 0;
    margin-top: 5px;
    padding: 0;
}

.hide {
    display: block;
}

/* .searchSuggestion {
    list-style: none;
    color: white;
} */
